<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homework1</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="shortcut icon" type="image/gif" href="http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif">
    <script src="/js/register.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div class="header">
        <a href="index.html">HOME</a>
    </div>
    <div class="content">
        <form action="/register" method="post" accept-charset="utf-8" enctype='application/json'>
            <fieldset>
                <legend>RSTEREGI</legend>
                <label for="account">Account:</label>
                <input type="text" id="account" name="account" value="" placeholder="">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="" placeholder="">
                <label for="again">Again:</label>
                <input type="password" id="again" name="password" value="" placeholder="">
				<p></p>
                <input type="submit" name="" value="Register">
            </fieldset>
        </form>
    </div>
    <div class="foot">
        --- By Dylan ---
    </div>
</body>

</html>
